@import "tailwindcss";

@layer utilities {
  /* High Density compact scrollbars */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #090d16;
  }
  ::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #334155;
  }
}

body {
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  background-color: #030712;
  color: #f3f4f6;
  letter-spacing: -0.01em;
}

